{% layout "server/layouts/base.liquid" %}


{% block content %}

<script>
  const allVerhalen = {{ items | json }};
  window.numberOfRoses = {{ numberOfRoses }};
</script>




  <section class="container" style="overflow-x: hidden;">

    <h2 class="center">Digitale Gedenkmuur</h2>
    <p class="center">Kies een straat en klik op het nummer om het verhaal te lezen van de familie.</p>

    <section class="straat-selectie">
      <select id="straatSelect">
        <option value="">Kies een straat:</option>
        {% for straat in straten %}
        <option value="{{ straat }}">{{ straat }}</option>
        {% endfor %}
      </select>
    </section>

    <div class="muur-background">
    <div class="muur-scroll">
      <div class="muur" id="muur">
        {% if selectedStraat %}
        <h4>Verhalen uit {{ selectedStraat }}</h4>
        {% for item in filteredItems %}
        <div class="verhaal-kaart">
          <div class="huisnummer-bord">{{ item.verhaal.huisnummer }}</div>
          <p class="verhaal-naam">{{ item.verhaal.naam }}</p>
          <a href="/verhalen/{{ item.verhaal.id }}">Bekijk dit verhaal</a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      

      <!-- Hier worden de bloemen toegevoegd -->
      <ul class="bloem-lijst" style="list-style: none; padding: 0;"></ul>
    </div>
    </div>

    <section class="herdenking">
      <h3 class="center">Herdenken hoeft niet alleen op 4 Mei</h3>
      <p class="center">Gedenk het hele jaar door en kies een bloem hieronder.</p>

      <section class="bloem-container">
        <!-- Klikbare bloemen -->
        <img src="/images/bloemen/1.png" alt="Tulips" class="bloem" data-image="tulips.png" />
        <img src="/images/bloemen/2.png" alt="flowers" class="bloem" data-image="nature.png" />
        <img src="/images/bloemen/3.png" alt="violet-flower" class="bloem" data-image="violet-flower.png" />
        <img src="/images/bloemen/4.png" alt="roses" class="bloem" data-image="flower-bouquet.png" />
        <img src="/images/bloemen/5.png" alt="roses" class="bloem" data-image="flower-bouquet.png" />
      </section>
    </section>



    {% comment %}
    <section class="familie-scroll">
      <h3>Families</h3>
      <div class="familie-lijst" id="familieLijst">
        {% for familie in families %}
        <div>
          <h4>Fam. {{ familie.naam }}</h4>
          <a href="/verhalen/{{ familie.id }}">Meer informatie</a>
        </div>
        {% endfor %}
      </div>
    </section> {% endcomment %}

<section class="familie-scroll">
  <h3>Families</h3>
  <div class="familie-lijst" id="familieLijst">
    {% for familie in families %}
   
    
<a href="/verhalen/{{ familie.id }}" class="familie-kaart">
  <div class="familie-illustratie">
    <img src="/images/gedenkmuur/ilustratie-gezinnen.png" alt="">
  </div>
  <h4>Fam. {{ familie.naam }}</h4>
  <p>Bekijk de verhalen van deze familie</p>
</a>


    {% endfor %}
  </div>
</section>

  </section>

{% endblock %}